* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #091921;
}
.calculatrice {
    position: relative;
    display: grid;
}
.calculatrice .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;border: 0;
    padding: 10px;
    font-size: 19px;
     outline: 0;
}
.calculatrice span {
    display: grid;
    width: 60px;
    height: 60px;
    color: wheat;
    background-color: #0c2835;
    border: 1px solid rgb(0, 0, 0,1);
    cursor: pointer;
}
.calculatrice span:active {
    background-color: #fa1;
    color: #111;
}
.calculatrice span.Effacer {
    grid-column: span 2;
    width: 100%;
    background-color: #fa1;
}
.calculatrice span.plus {
    grid-row: span 2;
    height: 100%;

}
   .calculatrice span.egale {
    background-color: #1877f2;
   } 
